* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, helvetica, sans-serif;
  margin: 1rem;
}

header,
main,
footer {
  max-width: 760px;
  margin: 0 auto;
}

h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 1.5rem;
}

section {
  padding: 1rem;
}

h2 {
  grid-column: 1 / 3;
  color: navy;
}

h3 {
  margin-bottom: 0.5rem;
}

article p {
  text-align: justify;
}

.callout {
  color: #ffff;
  background-color: #535353;
  ;
  padding: 1rem;
  grid-column: 1 / 3;
}

.banner {
  padding: 1rem;
  background-color: #eee;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

footer {
  margin-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: smaller;
  text-align: left;
}