* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background-color: #333333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #2c2c2c;
  text-align: left;
  padding: 1rem;
}

header h1 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 5rem;
}

.nav-container {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  height: 75px;
}

.nav-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.nav-container li {
  text-align: center;
}

.nav-container a {
  font-family: Arial, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  display: block;
}

main {
  display: flex;
  flex: 1;
  background-color: #4d4d4d;
}

section.card {
  flex: 3;
  background: #cccccc;
  padding: 1rem 0 0 1rem;
  color: #000000;
}

aside.card {
  flex: 1;
  background: #ffffff;
  padding: 1rem 0 0 1rem;
  color: #000000;
}

footer {
  background: #2c2c2c;
  text-align: center;
  padding: 1rem;
}

footer h2 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10rem;
}