body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  width: 90vh;
}

h1{
  margin: 0;
  padding: 20px;
}

header {
  font-family: 'Times New Roman', Times, serif;
  background-color: #333;
  color: white;
  text-align: left;
  padding: 0;
}

nav ul {
  list-style: none;
  padding: 1.5rem;
  margin: 0rem;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  background-color: #ccc;
  padding: 20px 10px 130px;
  float: left;
  width: 70%;
  box-sizing: border-box;
}

aside {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  background-color: white;
  padding: 20px 10px 130px;
  float: right;
  width: 30%;
  box-sizing: border-box;
}

footer {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  clear: both;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0 130px;
}